<div class="uk-margin-large-top">
  <div class="uk-grid uk-flex-middle uk-flex-center">
    <form class="uk-panel uk-panel-box uk-form uk-form-stacked" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="uk-form-row">
        <label for="username" class="uk-form-label">Имя пользователя</label>
        <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Username"
               id="username"
               name="username"
               [(ngModel)]="model.username"
               #username="ngModel"
               required
               ngClass="{ 'uk-form-danger': (username.valid || username.pristine) }">
      </div>
      <div class="uk-form-row">
        <label for="password" class="uk-form-label">Пароль</label>
        <input class="uk-width-1-1 uk-form-large" type="password" placeholder="Password"
               id="password"
               name="password"
               [(ngModel)]="model.password"
               #password="ngModel"
               required
               ngClass="{ 'uk-form-danger': (username.valid || username.pristine) }">
      </div>
      <div class="uk-form-row">
        <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"
                [disabled]="!loginForm.valid">Войти</button>
      </div>
      <!--@*<div class="uk-form-row uk-text-small">-->
      <!--<label class="uk-float-left"><input type="checkbox"> Remember Me</label>-->
      <!--<a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password?</a>-->
    <!--</div>*@-->
    </form>
  </div>
</div>
