<h1>Регистрация</h1>
@* ToDo checking for unique username *@
<form class="uk-form" [ngFormModel]="registrationForm">
    <fieldset>
        <legend>ФИО</legend>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-lastname">Фамилия</label>
            <div class="uk-form-controls">
                <input ngControl="lastname" type="text" id="form-reg-lastname" placeholder="">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-firstname">Имя</label>
            <div class="uk-form-controls">
                <input ngControl="firstname" type="text" id="form-reg-firstname" placeholder="">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-middlename">Отчество</label>
            <div class="uk-form-controls">
                <input ngControl="middlename" type="text" id="form-reg-middlename" placeholder="">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Место работы</legend>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-job">Место работы</label>
            <div class="uk-form-controls">
                <input ngControl="job" type="text" id="form-reg-job" placeholder="">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-job-position">Должность</label>
            <div class="uk-form-controls">
                <input ngControl="jobPosition" type="text" id="form-reg-job-position" placeholder="">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Контактная информация</legend>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-phone">Телефон</label>
            <div class="uk-form-controls">
                <input ngControl="phone" type="text" id="form-reg-phone" placeholder="">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-email">Email</label>
            <div class="uk-form-controls">
                <input ngControl="email" type="text" id="form-reg-email" placeholder="">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="form-reg-address">Адрес проживания</label>
            <div class="uk-form-controls">
                <input ngControl="address" type="text" id="form-reg-address" placeholder="">
            </div>
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button uk-button-primary"
                    (click)="doRegister()"
                    [disabled]="!registrationForm.valid">
                Зарегистрироваться
            </button>
        </div>
    </fieldset>
</form>