<div *ngIf="model" class="">
    {{model.firstName}} {{model.middleName}} {{model.lastName}} 
    <a class="uk-icon-justify uk-icon-edit"></a>
    <a class="uk-icon-justify uk-icon-remove uk-text-danger"></a>
</div>