<nav class="uk-navbar">
    <a [routerLink]="['Home']" class="uk-navbar-brand uk-hidden-small">
        <img src="/img/logo.png" title="ЦТТиИТ" alt="ЦТТиИТ" style="height: 30px;" />
        <span class="uk-margin-small-left">ЦТТиИТ</span>
    </a>
    <ul class="uk-navbar-nav">
        <li class="" *isLoggedIn><a [routerLink]="['Home']">В начало</a></li>
        <li class="" *isLoggedIn><a [routerLink]="['Trustee']">О родителе</a></li>
        <li class="" *isLoggedIn><a [routerLink]="['Enrollee']">Дети</a></li>
        <li class="" *isLoggedIn><a [routerLink]="['Admission']">Заявления</a></li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav" loginPanel></ul>
    </div>
</nav>

<div class="uk-container uk-container-center uk-margin">
    <router-outlet></router-outlet>            
</div>